.boehringer {
   .fiter-head {
      color: #08312A;
      font-size: 20px;
      margin: 12px 0px;
      text-transform: unset;
   }
   .filter-check-box label {
      color: #08312A;
      font-weight: 400;
   }
   .product-details-page h3 {
      color: #000;
      margin-top: 15px;
  }
  .bi-pdtspecwrap {
   margin: 20px 0;
  }
  .bi-pdtspec {
    border: 2px solid #08312A;
    color: #000;
    font-size: 11px;
    border-radius: 20px;
    padding: 6px 12px;
    margin-right: 5px;
  }
  .ListingCol {
   max-width: 33.33% !important;
  }
  .container.bi-bgclr {
   background-color: #F6F5F3 !important;
   }
   .book-name-and-buy ul li {
      font-family: "Boehringer Forward Text" !important;
      font-weight: normal;
   }
   .list-show .product-box {
      border: 1px solid #F6F5F3;
   }
}