.boehringer {
   .fiter-head {
      color: #08312A;
      font-size: 15px;
      margin: 12px 0px;
   }
   .filter-check-box label {
      color: #08312A;
      font-weight: 400;
   }
   .product-details-page h3 {
      color: #000;
      margin-top: 15px;
  }
}