.bi-agency1 {
    width: 100%;
    height: auto;
    background-color: #F6F5F3;
    padding: 40px 0;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        width: 200px;
        img {
            width: 100%;
        }
    }
    &__para {
        color: #fff;
        font-size: 20px;
        text-align: end;
        a{
            text-decoration: underline !important;
            color: #fff;
        }
    }
    &__head {
        font-size: 32px;
        color: #08312a;
        font-weight: 700;
        margin: 46px 0;
        h2 {
            text-transform: unset;
        }
    }
    &__barout {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    &__line {
        border: 1px solid #00e47c;
        width: calc(25% - 12px);
        margin: 6px;
        min-height: 8px;
        border-radius: 6px;
        &.active {
            background-color: #00e47c;
        }
    }
    &__form {
        background-color: #fff;
        width: 100%;
        height: auto;
        border-radius: 6px;
        margin-top: 20px;
        padding: 24px;
    }
    &__h5 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 30px;
        color: #08312a;
    }
    &__formflex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 4px 0;
        .bi-input {
            width: calc(50% - 20px);
            span:first-child {
                color: #08312a;
                font-weight: 600;
                font-size: 14px;
            }
            input, select {
                margin-top: 10px;
            }
        }
        label {
            font-size: 18px;
            color: #08312a;
        }
    }
    &__cta {
        margin-top: 32px;
        display: flex;
        justify-content: flex-end;
    }
    &__cancel {
        background-color: #CCFAE5;
        padding: 10px 26px;
        border-radius: 6px;
        width: auto;
        margin-right: 16px;
        &:hover {
            background-color: #66EFB0;
        }
    }
    &__Next {
        background-color: #00e47c;
        padding: 10px 26px;
        border-radius: 6px;
        width: auto;
        &:hover {       
            background-color: #66EFB0;
        }
    }
    &__copyright {
        color: #fff;
        padding-top: 40px;
    }
}


/* media queries */
@include tablet {
    .bi-agency1 {
        &__logo {
            width: 170px;
        }
        &__head {
            font-size: 38px;
        }
    }
}

@include mobile {
    .bi-agency1 {
        &__logo {
            width: 120px;
        }
        &__para {
            font-size: 14px;
        }
        &__head {
            font-size: 18px;
            margin-bottom: 16px;
        }
        &__h5 {
            font-size: 20px;
        }
        &__formflex {
            flex-direction: column;
            .bi-input {
                width: calc(100% - 20px);
            }
            label {
                font-size: 12px;
                color: #08312a;
            }
        }
    }
}