.bi-agency-guide {
    padding: 20px 12px;

    &__tophead {
        text-align: center;
        h1 {
            font-size: 48px;
            line-height: 58px;
            color: #000000;
            font-weight: bold;
            margin-bottom: 20px;
        }
        p {
            font-size: 20px;
            line-height: 32px;
            color: #000000;
            padding: 0 20px;
        }
    }
}