.bi-agency-guide {
    padding: 20px 12px;

    &__tophead {
        text-align: center;
        h1 {
            font-size: 48px;
            line-height: 58px;
            color: #08312a;
            font-weight: bold;
            margin-bottom: 20px;
        }
        p {
            font-size: 20px;
            line-height: 32px;
            color: #000000;
            padding: 0 20px;
        }
    }
    &__steps {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        width: 100%;
        margin-top: 24px;
        gap: 20px;
        &.reverse {
            flex-direction: row-reverse;
        }
        
    }
    &__content {
        width: 45%;
        
        h6 {
            font-size: 26px;
            color: #000000;
            margin-bottom: 10px;
            font-weight: bold;
            margin-top: 22px;
        }
        h2 {
            font-size: 48px;
            line-height: 58px;
            color: #000000;
            margin-bottom: 18px;
            text-transform: unset;
            font-weight: bold;
        }
        p {
            font-size: 16px;
            line-height: 22px;
            color: #08312a;
            margin-bottom: 22px;
        }
        .bi-btn {
            margin-left: 0;
            padding: 4px 26px;
            margin-top: 4px;
        }
    }
    &__imgsection {
        width: 55%;
        display: flex;
        align-items: center;
    }
    &__lapimg {
        width: 100%;
        img {
            width: 100%;
        }
    }
}

@include tablet {
    .bi-agency-guide {
        &__content {
            h2 {
                font-size: 35px;
                line-height: 45px;
            }
        }
    }
}

@include mobile {
    .bi-agency-guide {
        &__tophead {
            h1 {
                font-size: 40px;
                line-height: 50px;
            }
        }
        &__steps {
            flex-direction: column-reverse;
            gap: 0;
            &.reverse {
                flex-direction: column-reverse;
            }
            
        }
        &__content {
            width: 100%;
            h2 {
                font-size: 35px;
                line-height: 45px;
            }
        }
        &__imgsection {
            width: 100%;
        }
    }
}