.bi-agencyreg {
    width: 100%;
    background-color: var(--primary-clr);
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        padding: 32px 0;
    }
    &__logo {
        width: 200px;
        img {
            width: 100%;
        }
    }
    &__para {
        color: #fff;
        font-size: 20px;
    }
}
.bi-agencyform {
    padding: 32px 0;
    background-color: #F6F5F3;

    &__heading {
        h4 {
            font-size: 28px;
            color: var(--primary-clr);
            font-weight: 600;
        }
    }
    &__required {
        width: 100%;
        background-color: var(--primary-clr);
        padding: 12px 28px;
        margin-top: 24px;
        border-radius: 6px;
        p {
            color: #f0f0f0;
        }
    }
    &__form {
        background-color: #fff;
        margin-top: 40px;
        padding: 32px 28px;
        border-radius: 6px
    }
    &__flex {
        display: flex;
        justify-content: space-between;
        // align-items: center;
        width: 100%;
        padding: 4px 0;
        .bi-input {
            width: calc(50% - 12px);
            span {
                font-size: 18px;
                font-weight: 600;
                color: var(--primary-clr);
                display: inline-block;
            }
            a {
              color: var(--primary-clr);
              position: relative;
              font-size: 18px;
              font-weight: 600;
              &::after {
                content: '';
                position: absolute;
                background-color: var(--secondary-clr);
                width: 98%;
                height: 2px;
                left: 0;
                bottom: -2px;
              }
              &:hover {
                  &::after {
                      width: 0 !important;
                  }
              }
            }
        }
        label {
            font-size: 16px;
            color: var(--primary-clr);
        }
    }
    &__captcha {
        width: 100%;
       
        img {
            width: 100%;
            height: auto;
        }
    }
    &__downpara {
        color: #000;
        a {
            color: var(--primary-clr) !important;
            position: relative;
            font-weight: bold;
            margin-bottom: 2px;
            display: inline-block;
            &::after {
                content: '';
                position: absolute;
                background-color: var(--secondary-clr);
                width: 98%;
                left: 0;
                height: 2px;
                bottom: -2px;
            }
            &:hover {
                &::after {
                    width: 0;
                }
            }
        }
        &.mt30 {
            margin-top: 30px;
        }
    }
    &__smpara {
        font-family: "Boehringer Forward Text Md";
        font-size: 13px;
        color: var(--primary-clr);
        margin-top: 6px;
    }
    &__regcta {
        display: flex;
        justify-content: right;
        margin-top: 24px;
        .bi-btn {
            color: var(--primary-clr);
        }
    }
    .input2 {
        display: flex;
        flex-direction: column;
        width: 100% !important;
    }
    &__textarea {
        border: 1px solid #cccccc;
        margin-top: 10px;
        border-radius: 4px;
        padding: 12px;
        resize: none;
        height: 110px;
    }
    .cta  {
        font-size: 16px !important;
        padding: 11px 40px !important;
    }
    &__subhead {
        font-size: 28px;
        margin-top: 16px;
        margin-bottom: 14px;
        text-transform: unset;
        font-weight: 600;
        color: var(--primary-clr);
    }
    &__toppara {
        float: right;
        font-size: 20px;
        margin-top: 24px;
        color: #000;
    }
}

@include mobile {
    .bi-agencyreg {
        &__logo {
            width: 120px;
        }
        &__para {
            font-size: 14px;
        }
    }
    .bi-agencyform {
        &__heading {
            h4 {
                font-size: 22px;
            }
        }
        &__flex {
            flex-direction: column;
            .bi-input {
                width: calc(100% - 20px);
                margin-bottom: 32px;
            }
            label {
                font-size: 12px;
            }
        }
        &__regcta {
           flex-direction: column;
           text-align: center;
        }
        .cta  {
            text-align: center;
            font-size: 16px !important;
            padding: 11px 20px !important;
        }
    }
   
}