.bi-agency-select {
    padding-top: 40px;
    padding-bottom: 30px;
    width: 100%;
    min-height: 100vh;
    background-color: #022D25;

    &__logo {
        width: 180px;
        height: auto;
        padding-bottom: 10px;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-top: 30px;
        border-radius: 10px;
        padding: 20px 40px;
        background-color: #fff;
        min-height: 340px;
    }

    &__inner {
        display: flex;
        gap: 40px;

        .container {
            display: block;
            position: relative;
            padding: 10px 25px 10px 60px;
            margin-bottom: 12px;
            margin: 0;
            font-size: 16px;
            color: #fff;
            width: max-content;
            border: 1px solid #fff;
            border-radius: 8px;
            cursor: pointer;
            user-select: none;

            input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
            }
        }

        .radio-btn {
            position: absolute;
            top: 10px;
            left: 25px;
            height: 20px;
            width: 20px;
            background-color: #022D25;
            border: 2px solid #00E47C;
            border-radius: 50%;

            &::after {
                content: "";
                position: absolute;
                display: none;
                top: 3px;
                left: 3px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: #00E47C;
            }
        }

        .container input:checked~.radio-btn:after {
            display: block;
        }

    }

    &__sign-in {
        width: 55%;
        border-right: 1px solid #54565abd;
        padding: 10px 100px 10px 20px;

        .bi-btn {
            display: block;
            text-align: center;
        }

        .bi-input label {
            color: #08312A;
            font-weight: 500;
            font-size: 16px;
        }

        .bi-input input {
            border-radius: 4px;
        }
    }

    &__sign-up {
        width: 45%;
        min-height: 258px;
        padding: 10px 0px;

        .bi-input {
            margin-bottom: 12px;
        }

        .bi-input label {
            color: #08312A;
            font-weight: 500;
            font-size: 16px;
        }

        .bi-input input {
            border-radius: 4px;
        }

        .bi-btn {
            display: block;
            text-align: center;
        }

        p {
            color: #08312A;
            font-weight: 700;
            text-align: center;
            margin-bottom: 0;
        }
    }

    &__title {
        margin-bottom: 20px;

        h3 {
            font-family: 'Boehringer Forward Text';
            font-size: 25px;
            line-height: 35px;
            font-weight: 600;
            color: #08312A;
            text-align: center;
            margin-bottom: 5px;
            text-transform: capitalize;
        }

        h4 {
            font-family: 'Boehringer Forward Text';
            color: #08312A;
            text-align: center;
            margin-bottom: 15px;
        }

        h5 {
            color: #000;
            font-weight: 700;
            text-align: center;

            a {
                color: #08312A;
                text-decoration: underline !important;

                &:hover {
                    text-decoration: none !important;
                }
            }

        }

        p {
            color: #000;
            text-align: center;
            font-weight: 400;
            margin-bottom: 15px;

            a {
                color: #08312A;
                font-weight: 500;
                text-decoration: underline !important;

                &:hover {
                    text-decoration: none !important;
                }
            }
        }
    }

    &__cnt {
        color: #08312A;
        margin-bottom: 15px;
        font-weight: 700;
        line-height: 24px;
        text-align: center;
    }

    h6 {
        color: #fff;
        margin-top: 40px;
    }

    .bi-heading {
        color: #fff;
    }

    &__otp {
        background-color: #FF565633;
        border: 1px solid #FF8C8C80;
        text-align: center;
        padding: 5px 10px;
        border-radius: 4px;
        margin-bottom: 10px;
    }

}


@include tablet {
    .bi-agency-select {

        &__wrap {
            align-items: flex-start;
        }

        &__sign-in {
            padding: 10px 50px 10px 10px;
        }

        &__title {
            br {
                display: none;
            }
        }
    }
}

@include mobile {
    .bi-agency-select {

        &__wrap {
            flex-direction: column;
            align-items: flex-start;
        }

        &__sign-in {
            width: 100%;
            padding: 0;
            padding-bottom: 40px;
            border-right: none;
            border-bottom: 1px solid #54565abd;
        }

        &__sign-up {
            width: 100%;
        }

        &__title {
            br {
                display: none;
            }
        }
    }
}