.boehringer {
    .bo-bannernew {
        position: relative;
        &__desk {
            display: block;
            img {
             width: 100%;
             height: auto;
             display: block;
            }
        }
        &__tab {
            display: none;
            img {
                width: 100%;
                height: auto;
                display: block;
               }
        }
        &__mob {
            display: none;
            img {
                width: 100%;
                height: auto;
                display: block;
               }
        }
        &__dot-out {
            position: absolute;
            bottom: 15%;
            right: 3%;
            display: flex;
        }
        &__dot {
            width: 20px;
            height: 20px;
            border: 2px solid #fff;
            border-radius: 50%;
            margin: 0 4px;
            cursor: pointer;
            z-index: 1;
            position: relative;
            &.active {
                background-color: #00E47C;
            }
        }
        .slick-dots {
            display: flex;
            justify-content: flex-end;
            bottom: 12%;
            right: 6%;
        }
        .slick-dots li button {
            border: 2px solid #fff;
            content: "";
            opacity: 1;
            border-radius: 50%;
            width: 16px;
            height: 16px;
        }
        .slick-dots li button:before {
            content: "";
        }
        .slick-dots li {
            margin: 0 2px;
        }
        .slick-active {
            button {
                background-color: #00E47C;
            }
        }
    }
    
    @include tablet {
        .bo-bannernew {
            &__tab {
                display: block;
            }
            &__desk {
                display: none;
            }
            &__mob {
                display: none;
            }
        }
    }

    @include mobile {
        .bo-bannernew {
            &__tab {
                display: none;
            }
            &__desk {
                display: none;
            }
            &__mob {
                display: block;
            }
        }
    }
}