.bi-shpingcart__left {
   width: 70%;
}
.bi-shpcarttitle {
   display: flex;
   width: 100%;
}
.bi-shpcarttitle__a {
   width: 45%;
   font-size: 24px;
   font-weight: 600;
   color: #08312A;
}
.bi-shpcarttitle__b, 
.bi-shpcarttitle__c, 
.bi-shpcarttitle__d {
   width: 18.33%;
   font-size: 24px;
   font-weight: 700;
   color: #08312A;
   text-align: center;
}