.cx-checkout {
   background-color: #f6f5f3;
   padding: 60px 0px;
   &__heading {
      font-size: 50px;
      font-weight: 700;
      color: #08312A;
      text-align: left;
   }
   &__formwrap {
      margin-bottom: 36px;
   }
   &__left {
      margin-top: 50px;
   }
   &__pdtcrt {
      background-color: #fff;
      padding: 12px 0px;
      border-radius: 10px;
      margin-bottom: 24px;
   }
   &__form {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      background-color: #fff;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
      padding: 24px 24px 4px;
   }
   &__head {
      font-family: 'Boehringer Forward Head';
      color: #fff;
      background-color: #08312a;
      font-size: 26px;
      font-weight: 500;
      padding: 10px 24px;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
   }
   &__group {
      display: flex;
      flex-direction: column;
      width: calc(50% - 16px);
      margin-bottom: 20px;
      label {
         font-size: 18px;
         font-weight: 600;
         color: #08312a;
         margin-bottom: 6px;
      }
      input {
         border: 1px solid #ccc;
         border-radius: 4px;
         height: 40px;
         padding: 8px;
      }
      textarea {
         resize: none;
         height: 100px;
         border: 1px solid #ccc;
         border-radius: 4px;
         padding: 8px;
      }
   }
   &__img {
      box-shadow: 0px 1px 6.6px 0px #0000001A;
      width: 30%;
      margin-bottom: 20px;
      border-radius: 12px;
      img {
         width: 100%;
      }
   }
   &__terms {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      label {
         color: #08312a;
         margin-left: 8px;
      }
      input[type="checkbox"] {
         height: 18px;
         width: 18px;
         background-color: #f6f5f3;
         border: 2px solid #08312a;
       }
       input[type="checkbox"]:checked {
         background-color: #08312a;
       }
   }
   &__cbwrap {
      display: flex;
      align-items: center;
   }
   &__placeodr {
      width: 22%;
   }
   &__helptxt {
      font-family: 'Boehringer Forward Head Md';
      color: #000;
      margin: 8px 0;
   }
   &__getin {
      color: #54565A;
      a {
         color: #08312a;
         text-decoration: underline !important;
         font-weight: 600;
      }
   }
   &__btn {
      background-color: #00E47C;
      color: #08312A;
      width: 100%;
      display: inline-block;
      text-align: center;
      border: 1px solid #00E47C;
      border-radius: 4px;
      padding: 10px 0px;
      margin-top: 26px;
      &:hover {
         background-color: transparent;
         color: #00E47C;
         cursor: pointer;
         border: 1px solid #00E47C;
      }
   }
}

@include mobile {
   .cx-checkout {
      &__form,
      &__terms {
         flex-direction: column;
      }
      &__group {
         width: 100%;
      }
      &__img {
         width: 60%;
      }
      &__placeodr {
         width: 40%;
      }
   }
}