.bi-contact-us {
    padding: 32px 0px;
    background-color: #F6F5F3;

    p {
        margin-bottom: 20px;
        color: #191919;

        a {
            color: #191919;
            text-decoration: underline !important;

            &:hover {
                text-decoration: none !important;
            }
        }
    }

    .bi-heading {
        margin: 10px 0px;
        font-weight: normal;
    }
}