.boehringer  {
    .menu-bar .cx-btn-prfl {
        transform: translateY(-8px);
    }
    .bi-footer__links {
        font-size: 14px;
    }
    .bi-footer__head {
        font-size: 26px;
    }
    .bh-heading {
        font-family: 'Boehringer Forward Text Md';
        font-weight: 500;
    }
    .menu-bar {
        .lang {
            margin-bottom: 0;
        }
        .account-search .dropdown .dropdown-menu {
            top: 46px;
            left: 9px !important;
            right: 0 !important;
        } 
    }
    .bh-button {
        padding: 6px 10px;
        border: 1px solid #00E47C;
       }
    .sec-menu {
        width: 78%;
    }

    .bi-footer__contents {
        border-bottom: 1px solid #fff;
    }
    .bi-footer__head {
        color: #fff;   
        font-family: 'Boehringer Forward Text';
        font-weight: 500; 
    }

    //order history 
    .container.inner-marging {
        background-color: #F8F9FA;
    }

    .tab-content {
        table {
            background-color: transparent;
            tr>&:first-child{
                    border-bottom: 1px solid #000;
            }
            tr {
                height: 40px;
                &:nth-child(odd) {
                    background-color: white;
                }
                &:nth-child(even) {
                    background-color: #F6F5F3;
                }
                td {
                    background-color: transparent;
                    border: 0;
                    vertical-align: middle;
                    &:nth-child(even) {
                        a {
                            background-color: #00E47C;
                            border-color: #00E47C;
                            color: #08312A;
                            text-transform: None;
                            padding: 4px 8px;
                            border-radius: 5px;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }

    //PDP
    .ab-details {
        min-width: 1000px;
    }
    .cx-tbout {
        overflow-x: scroll;
        position: relative;
    }

    &__scroll-move {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: red;
    }
}