.boehringer  {
    .menu-bar .cx-btn-prfl {
        transform: translateY(-8px);
    }
    .bi-footer__links {
        font-size: 14px;
    }
    .bi-footer__head {
        font-size: 26px;
    }
    .bh-heading {
        font-family: 'Boehringer Forward Text Md';
        font-weight: 500;
    }
    .sec-menu {
        width: 78%;
    }
}