.boehringer {
    .bi-wicon {
        cursor: pointer;
        #whishicon, #whishicon-red {
            width: 24px;
            height: 21px;
        }
        #whishicon-red {
            display: none;
        }
        &.active {
            #whishicon {
                display: none;
            }
            #whishicon-red {
                display: block;
            }
        }
    }
    .bi-plpnprdct {
        text-align: center;
        color: #191919;
    }
}