.bi-returns {
    padding: 44px 0px;
    background-color: #F6F5F3;

    img {
        width: 100%;
        height: auto;
        margin: 8px 0px;
        margin-bottom: 32px;
    }

    h2 {
        font-family: 'Boehringer Forward Head Md';
        font-size: 20px;
        line-height: 30px;
        font-weight: 500;
        color: #000;
        margin-top: 25px;
        margin-bottom: 8px;
        text-transform: none;
    }

    p {
        font-size: 16px;
        line-height: 22px;
        color: #000;
        margin-bottom: 15px;
    }

    a {
        color: #191919;
        text-decoration: underline !important;

        &:hover {
            text-decoration: none !important;
        }
    }
}