.boehringer {
    .list-show .product-box {
        border: 2px solid #CCCCCC;
    }

    .bi-plp {
        background: #f6f5f3;
    }

    .list-show .product-box .product {
        border-bottom: 0px;
        background-color: transparent;
    }

    .bi-wicon {
        width: 24px;
        position: absolute;
        right: 4px;
        top: 4px;

        img {
            position: absolute;
            right: 4px;
            top: 4px;
            width: 100%;
        }
    }

    .bh-prodcut {
        .nav-pills {
            text-align: left;
        }
    }

    .sec-menu ul {
        display: flex;
        justify-content: space-between;
    }

    .bi-dot {
        position: absolute;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        border: 2px solid white;
        right: 12%;
        bottom: 12%;

        &.active {
            background: #00E47C;
        }
    }

    .bi-dot2 {
        position: absolute;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        border: 2px solid white;
        right: 14%;
        bottom: 12%;

        &.active {
            background: #00E47C;
        }
    }

    .user-items button {
        width: auto !important;
    }

    .bh-button {
        border: 1px solid #00E47C;
        border-radius: 6px;
        padding: 6px;
        font-size: 16px;
    }

    .bh-heading {
        font-size: 52px;
        line-height: 72px;
        padding-bottom: 8px;
    }
    .bh-hero__text {
        padding-bottom: 54px;
    }
    .bh-heading2 {
        width: 100%;
        font-size: 48px;
        padding-bottom: 8px;
        text-transform: unset;
        color: #191919;
        font-weight: 600;
    }
    .bi-ibc__para {
        font-size: 16px;
        width: 85%;
        font-weight: 500;
    }
    .bi-footer__links {
        &:hover {
            color: #00E47C;
        }
    }
    .bi-ibc {
        margin: 80px 0;
    }
    .cx-btn-prfl {
        padding: 22px 0 0 15px !important;
    }
    .bh-prodcut__left {
        width: 38%;
    }
    .bh-prodcut__cnt {
        font-size: 17px;
    }
    .bh-new__slide {
        margin: 0;
    }
    .bh-new .bh-heading {
        padding: 0 60px 32px;
    }
}




/* Media Queries */
@include mobile {
    .boehringer {
        .bh-heading2 {
            font-size: 32px;
        }
    }
    .bh-prodcut__left {
        width: 100% !important;
    }
}