.user-select {

   &__bg {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
   }

   &__outer {
      min-height: 100vh;
      display: flex;
      align-items: center;
   }

   &__wrap {
      position: relative;
      background-color: #fff;
      width: 500px;
      border-radius: 10px;
      margin: 0 auto;
      padding: 40px;
      background-color: #fff;
  }
  
  &__head {
      font-family: 'Boehringer Forward Head';
      text-align: center;
      font-size: 36px;
      font-weight: bold;
      color: var(--primary-clr);
      margin: 8px 0px 38px;  
  }
  
  &__options {
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
      gap: 24px;
  }
  
  &__btn {
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      border: none;
      cursor: pointer;
  }

  &__closebtn {
      position: absolute;
      padding: 7px;
      top: 16px;
      right: 16px;
      background-color: var(--primary-clr);
      width: 32px;
      height: 32px;
      border-radius: 50%;
  }

  &__submit {
      font-family: 'Boehringer Forward Head';
      background-color: var(--secondary-clr);
      border: 2px solid var(--secondary-clr);
      border-radius: 5px;
      color: var(--primary-clr);
      cursor: pointer;
      font-size: 20px;
      line-height: 28px;
      width: 100%;
      text-align: center;
      padding: 8px 16px;
      &:hover {
         background-color: #fff;
         color: var(--secondary-clr);
      }
  }

  &__label {
   border: 2px solid #54565A;
   padding: 12px 20px;
   border-radius: 5px;
   width: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
  }


  &__radioip {
   accent-color: green;
   width: 15px;
   height: 15px;
   padding-top: 5px;
  }

  &__rbtn {
   font-family: 'Boehringer Forward Head';
   color: var(--primary-clr);
   font-weight: 600;
   img {
      width: 16px;
      margin-left: 12px;
   }
  }
}

@include mobile {
   .user-select {
      &__options {
         flex-direction: column;
   }
   &__label {
      width: 100%;
   }
}
}