.user-type {

   &__bg {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
   }

   &__outer {
      min-height: 100vh;
      display: flex;
      align-items: center;
   }

   &__wrap {
      position: relative;
      background-color: #fff;
      padding: 24px;
      width: 350px;
      border-radius: 10px;
      margin: 0 auto;
      background-color: #fff;
  }
  
  &__head {
      font-family: 'Boehringer Forward Head';
      text-align: center;
      font-size: 36px;
      font-weight: bold;
      color: var(--primary-clr);
      margin: 20px 0px;  
  }

   &__copy {
      font-size: 16px;
      font-family: 'Boehringer Forward Head';
      text-align: center;
      color: var(--primary-clr);
      margin-bottom: 20px;
   }

   &__smcopy {
      font-size: 14px;
      font-family: 'Boehringer Forward Head';
      text-align: center;
      color: #000;
      margin: 20px 0;
   }

  &__closebtn {
      position: absolute;
      padding: 7px;
      top: 16px;
      right: 16px;
      background-color: var(--primary-clr);
      width: 32px;
      height: 32px;
      border-radius: 50%;
  }

  &__submit {
      font-family: 'Boehringer Forward Head';
      background-color: var(--secondary-clr);
      border: 2px solid var(--secondary-clr);
      border-radius: 5px;
      color: var(--primary-clr);
      cursor: pointer;
      font-size: 20px;
      line-height: 28px;
      width: 100%;
      text-align: center;
      padding: 8px 16px;
      &:hover {
         background-color: #fff;
         color: var(--secondary-clr);
      }
  }
  &__inputwrap {
   display: flex;
   flex-direction: column;
   justify-content: center;
   border-bottom: 1px solid #ccc;
   margin-bottom: 16px;
   }

   &__otpip {
      text-align: center;
      letter-spacing: 2px;
      border: 1px solid var(--primary-clr);
      border-radius: 5px;
      min-height: 42px;
      margin: 24px 0px 16px;
      font-size: 16px;
      position: relative;
   }

   &__otpip::placeholder {
      letter-spacing: 0;
      color:var(--primary-clr);
   }

   &__otpip.active-err {
      background: #f2f2f2;
      color: #ff0000;
      font-weight: 600;
   }
   
   &__dnarrow {
      width: 16px;
      margin-left: 8px;
   }

    &__custom-select {
      position: relative;
      background-color: #fff;
      border-radius: 5px;
      width: 100%;
      color: var(--primary-clr);
      min-height: 42px;
      font-size: 16px;
      text-align: center;
      border: 1px solid var(--primary-clr);
      cursor: pointer;
      select {
         width: 100%;
         height: 100%;
         padding: 0;
         min-height: 42px;
         border: none;
         background: none;
         text-align: center;
         cursor: pointer;
         color: inherit;
         appearance: none; /* Hide default arrow */
         -webkit-appearance: none; /* For Safari */
         -moz-appearance: none; /* For Firefox */
       }
    }
    &__dwnarrow {
      position: absolute;
      top: 18px;
      right: 32%;
      border: 7px solid transparent;
      border-color: var(--primary-clr) transparent transparent transparent;
    }
}
