.bi-user-details {
    padding: 32px 0 32px 0px;
    background: #F6F5F3;

    h2 {
        font-size: 35px;
        line-height: 40px;
        margin-bottom: 8px;
        font-family: 'Boehringer Forward Text Md';
        color: #000;
        text-transform: none;
        font-weight: normal;
    }
    p {
        color: #000;
    }

    h4 {
        font-size: 22px;
        line-height: 25px;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 5px;
        color: #000;
    }

    label {

        sup {
            position: relative;
            top: 0;
            right: 0;
        }
    }

    .btn-success {
        background-color: #08312A;
        color: #fff;
        display: inline-block;
        text-align: center;
        border: 1px solid #08312A;
        border-radius: 4px;
        padding: 5px 16px;
        cursor: pointer;
        transition: 0.3s all;
        &:hover {
            background-color: #07473d !important;
            color: #fff !important;
            border: 1px solid #07473d !important;
      
        }
    }

    .btn:focus {
        box-shadow: none;
    }

    .btn:hover {
        color: #fff;
        background-color: #66EFB0;
        border-color: #66EFB0;
    }
    .bi-input {
        span {
            color: #000;
        }
    }

}