.bi-user-details {
    padding: 42px 0 32px 0px;
    background: #F6F5F3;

    h2 {
        font-size: 35px;
        line-height: 40px;
        margin-bottom: 8px;
        font-family: 'Boehringer Forward Text Md';
        color: #000;
        text-transform: none;
        font-weight: normal;
    }
    p {
        color: #000;
    }

    h4 {
        font-size: 22px;
        line-height: 25px;
        font-weight: 500;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 5px;
        font-family: 'Boehringer Forward Text Md';
        color: #000;
    }

    label {

        sup {
            position: relative;
            top: 0;
            right: 0;
        }
    }

    .btn-success {
        color: #fff;
        background-color: #5cb85c;
        border-color: #4cae4c;
    }

    .btn:focus {
        box-shadow: none;
    }

    .btn:hover {
        color: #fff;
        background-color: #157347;
        border-color: #146c43;
    }

}