.bia-dashboardtile {
    padding: 20px 0;
    &__out {
       display: flex;
       justify-content: space-between;
       width: 100%; 
    }
    &__inner {
        width: calc(33.3% - 12px);
        margin: 6px;
    }
    &__content  {
        text-align: center;
        color: var(--primary-clr);
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 16px;
        h3 {
            text-transform: unset;
            font-size: 24px;
        }
    }
    &__icon {
        width: 100%;
        img {
            width: 100%;
        }
    }
}