.bi-sna {
    width: 100%;
    min-height: 100vh;
    background-color: #022D25;
    padding: 32px;
    position: relative;

    &__icon {
        width: 14%;

        img {
            width: 100%;
        }
    }

    &__content {
        color: #fff;
        font-size: 110px;
        padding-top: 30px;
        text-align: center;

        span {
            color: #00E47C;
        }
    }

    &__face {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 32px;

        img {
            width: 120px;
        }
    }

    &__para {
        width: 100%;
        display: flex;
        text-align: center;
        color: #fff;
        font-size: 28px;
        padding-top: 46px;
        justify-content: center;
        align-items: center;

        span {
            color: #00E47C;
        }
    }

    &__btn {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        margin-top: 40px;
        a {
            background-color: #00E47C;
            color: #08312A;
            font-size: 22px;
            padding: 10px 12px;
            transition: all 0.2s 0s ease-in;
            text-align: center;
            border-radius: 5px;
            width: 36%;
            &:hover {
                background-color: #66EFB0;
                transition: all 0.2s 0s ease-in;
            }
        }
    }
    &__crtxt {
        color: #fff;
        position: absolute;
        bottom: 20px;
     }
}

/* media query */
/* tablet-pro */
@include tablet-pro {
    .bi-sna {
        &__content {
            font-size: 120px;
        }

        &__face {
            padding-top: 30px;

            img {
                width: 110px;
            }
        }
    }
}

/* tablet */
@include tablet {
    .bi-sna {
        &__icon {
            width: 30%;

            img {
                width: 100%;
            }
        }

        &__content {
            font-size: 100px;
        }

        &__face {
            img {
                width: 100px;
            }
        }
    }
}

@include mobile {
    .bi-sna {
        &__icon {
            width: 40%;
        }

        &__content {
            font-size: 40px;
        }

        &__face {
            padding-top: 30px;

            img {
                width: 70px;
            }
        }

        &__para {
            font-size: 15px;
            padding-top: 30px;
        }
        &__btn {
            flex-direction: column;
        }
    }
}