.bi-cookies {
    background-color: #08312a;
    // margin: 20px;
    padding: 20px;
    border-radius: 4px;
    &__para {
        color: #fff;
        text-align: center;
        font-size: 15px;
        a {
            position: relative;
          &::after {
            content: "";
            position: absolute;
            border-bottom: 2px solid #00e47c;
            bottom: 0;
            left: 0;
            width: 100%;
          }
          &:hover::after {
            width: 0;
          }
        }
    }
    &__btn {
        text-align: center;
        margin-top: 20px;
        a {
            background-color: #00e47c;
            color: #08312a !important;
            border: 1px solid #00e47c;
            padding: 6px 32px;;
            border-radius: 4px;
            &:hover {
                background-color: #66efb0;
                border: 1px solid #66efb0;
                color: #08312a !important;
              }
        }
    }
}