.bi-cookies {
    background-color: #fff;
    padding: 8px 8px 0;
    border-radius: 4px;
    &__para {
      p {
        color: var(--primary-clr);
        font-size: 16px;
      }
      color: var(--primary-clr);
      font-size: 16px;
        a {
            position: relative;
          &::after {
            content: "";
            position: absolute;
            border-bottom: 2px solid var(--secondary-clr);
            bottom: 0;
            left: 0;
            width: 100%;
          }
          &:hover::after {
            width: 0;
          }
        }
    }
    &__btn {
      margin-top: 4px;
      display: flex;
      justify-content: flex-end;
      gap: 16px;
    }
    &__btna, &__btnb {
      color: var(--primary-clr) !important;
      padding: 5px 20px;;
      border-radius: 4px;
      transition: 0.3s all;
      &:hover {
        color: var(--primary-clr) !important;
      }
    }
    &__btna {
      background-color: var(--secondary-clr);
      border: 1px solid var(--secondary-clr);
      &:hover {
          background-color: #66efb0;
          border: 1px solid #66efb0;         
        }
  }
    &__btnb {
      background-color: transparent;
      border: 1px solid #ccc;
      &:hover {
          background-color: #ccc;
          border: 1px solid #ccc;
        }
  }
}