.bi-cookies {
    background-color: gray;
    margin: 20px;
    padding: 20px;
    border-radius: 4px;
    &__para {
        color: #fff;
        text-align: center;
        font-size: 15px;
        a {
            position: relative;
          &::after {
            content: "";
            position: absolute;
            border-bottom: 2px solid #fff;
            bottom: 0;
            left: 0;
            width: 100%;
          }
          &:hover::after {
            width: 0;
          }
        }
    }
    &__btn {
        text-align: center;
        margin-top: 20px;
        a {
            background-color: #a6ef17;
            color: #fff !important;
            padding: 10px 40px;
            border-radius: 4px;
        }
    }
}