.bi-pref {
   &__outer {
      position: relative;
      padding: 50px 0px;
      width: 100%;
      min-height: 100vh;
      background-color: #022D25;
      }
   &__head {
      font-size: 100px;
      line-height: 110px;
      color: #fff;
      margin-top: 60px;
      font-family: 'Boehringer Forward Head';
      span {
         color: #00E47C;
      }
     }
   &__subhead {
      font-size: 28px;
      line-height: 36px;
      font-weight: 700;
      color: #ffffff;
      margin: 40px 0 56px;
      text-align: left;
      span {
         color: #00E47C;
      }
   }
   &__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #00E47C;
      color: #08312A;
      font-size: 24px;
      padding: 12px;
      transition: all 0.2s 0s ease-in;
      text-align: center;
      border-radius: 5px;
      width: 65%;
      margin-bottom: 26px;
      &:hover {
         background-color: #66EFB0;
         transition: all 0.2s 0s ease-in;
      }
      img {
         width: 30px;
         height: auto;
         margin-right: 12px;
      }
      span {
         font-weight: 600;
      }
   }
   &__crtxt {
      color: #fff;
      position: absolute;
      bottom: 30px;
   }
}

@include tablet-pro {
   .bi-pref {
      &__head {
         font-size: 110px;
         line-height: 120px;
      }
      &__btn {
         width: 72%;
      }
   }
}

@include tablet {
   .bi-pref {
      &__head {
         font-size: 110px;
         line-height: 120px;
      }
      &__btn {
         width: 90%;
      }
   }
}

@include mobile {
   .bi-pref {
      &__head {
         font-size: 72px;
         line-height: 80px;
         margin-top: 30px;
      }
      &__subhead {
         font-size: 23px;
         line-height: 30px;
      }
      &__btn {
         width: 100%;
         font-size: 14px;
         padding: 12px 6px;
         img {
            width: 20px;
            margin-right: 4px;
         }
      }
   }
}