.bi-pref {
   &__outer {
      position: relative;
      padding: 50px 0px;
      width: 100%;
      min-height: 100vh;
      background-color: #022D25;
      .bi-pot__crtxt {
         color: #fff;
         padding-top: 100px;
      }
   }

   &__head {
      font-size: 92px;
      line-height: 102px;
      color: #fff;
      margin-top: 60px;
      font-family: 'Boehringer Forward Head';

      span {
         color: #00E47C;
      }

      &.txtfont {
         font-size: 52px;
         line-height: 62px;
      }
   }

   &__whitehead {
      font-size: 44px;
      line-height: 60px;
      font-weight: 700;
      color: #fff;
      margin-top: 80px;
      font-family: 'Boehringer Forward Head';
   }

   &__subhead {
      font-size: 28px;
      line-height: 36px;
      font-weight: 700;
      color: #ffffff;
      margin: 20px 0 60px;
      text-align: left;

      span {
         color: #00E47C;
      }

      &.normal {
         font-weight: normal;
         margin: 30px 0;
      }
   }

   &__btn {
      display: inline-flex;
      // justify-content: center;
      align-items: center;
      background-color: #00E47C;
      color: #08312A;
      font-size: 24px;
      padding: 12px 24px;
      transition: all 0.2s 0s ease-in;
      text-align: center;
      border-radius: 5px;
      margin-bottom: 26px;
      position: relative;

      &:hover {
         color: #08312A;
         background-color: #66EFB0;
         transition: all 0.2s 0s ease-in;
      }

      img {
         width: 30px;
         height: auto;
         margin-right: 12px;
      }

      img.width60 {
         width: 60px;
      }

      span {
         font-weight: 600;
      }

      &.width20 {
         width: auto;
      }
      &.sp {
         width: 74%;
      }
      .bi-spangle {
         position: absolute;
         right: 18px;
         width: 12px;
         float: right;
         height: auto; 
     }
   }

   &__crtxt {
      color: #fff;
      position: absolute;
      bottom: 10px;
   }
}

@include tablet-pro {
   .bi-pref {
      &__head {
         font-size: 110px;
         line-height: 120px;
      }

      &__btn {
         width: 72%;
         font-size: 22px;
         &.sp {
            width: 100%;
         }
         &.width20 {
            width: 30%;
         }
      }
   }
}

@include tablet {
   .bi-pref {
      &__head {
         font-size: 110px;
         line-height: 120px;
      }

      &__btn {
         width: 90%;
         font-size: 18px;
         &.sp {
            width: 100%;
            font-size: 18px;
         }
         &.width20 {
            width: 40%;
         }
      }
   }
}

@include mobile {
   .bi-pref {
      &__head {
         font-size: 70px;
         line-height: 80px;
         margin-top: 30px;
      }

      &__subhead {
         font-size: 23px;
         line-height: 30px;
      }

      &__btn {
         width: 100%;
         font-size: 12px !important;
         padding: 12px 6px;
         &.sp {
            width: 100%;
            font-size: 18px;
         }
         img {
            width: 20px;
            margin-right: 4px;
         }

         &.width20 {
            width: 50%;
         }
      }
   }
}