.bi-si-tile {
    background-color: #f6f5f3;
    padding: 24px 54px;

    &__round {
        font-size: 13px;
        line-height: 18px;
        font-weight: 600;
        padding: 4px 20px;
        border: 1px solid #000000;
        border-radius: 20px;
        color: #000000;
        display: inline-block;
    }

    &__cnt {
        font-size: 14px;
        line-height: 20px;
        color: #000000;
        padding-top: 8px;
        font-family: 'Boehringer Forward Text Md';
    }


}