.bi-btn {

    &--reverse {
        background-color: #66EFB0;
        border-color: #66EFB0;
        border-radius: 2px;

        &:hover {
            background-color: #00E47C !important;
            border-color: #00E47C !important;
        }
    }


    background-color: #00E47C;
    color: #fff;
    border-color: #00E47C;
    font-size: 14px;
    line-height: 20px;
    padding: 7px 14px;
    border-radius: 4px;
    transition: all 0.2s 0s ease-in;
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 10px;

    a {
        color: #fff;
        text-decoration: none;
    }

    &:hover {
        background-color: #66EFB0;
        border-color: #66EFB0;
        text-decoration: none;
        color: #fff;
        transition: all 0.2s 0s ease-in;

        a {
            color: #fff;
            text-decoration: none;
        }
    }
}

.bi-btn2 {

    &--reverse {
        background-color: #08312A;
        border-color: #08312A;
        border-radius: 2px;

        &:hover {
            background-color: #00E47C !important;
            border-color: #00E47C !important;
        }
    }


    background-color: #08312A;
    color: #fff;
    border-color: #08312A;
    font-size: 14px;
    line-height: 20px;
    padding: 7px 14px;
    border-radius: 4px;
    transition: all 0.2s 0s ease-in;
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 14px;

    a {
        color: #fff;
        text-decoration: none;
    }

    &:hover {
        background-color: #14433c;
        border-color: #14433c;
        text-decoration: none;
        color: #fff;
        transition: all 0.2s 0s ease-in;

        a {
            color: #fff;
            text-decoration: none;
        }
    }
}