body {
  background: #08312a;
  height: 100vh;
  padding: 40px 0;
}

.select-menu {
  position: relative; /* Important for arrow positioning */
  
  select {
    display: none; /*hide original SELECT element:*/
  }
  .select-selected {
    background-color: transparent;
    color: #fff;
    padding: 8px 16px;
    border: 2px solid #00E47C;
    cursor: pointer;
    user-select: none;
    /*style the arrow inside the select element:*/
      &:after {
        position: absolute;
        content: "";
        top: 18px;
        right: 20px;
        transform: translateY(-50%) rotate(-45deg);
        width: 9px;
        height: 9px;
        border-left: 2px solid #fff;
        border-bottom: 2px solid #fff;
      }
        /*point the arrow upwards when the select box is open (active):*/
    &.select-arrow-active:after {
      transform: rotate(136deg);
    }
  }

  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: #fff;
    margin-top: 10px;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items div {
    color: #08312a;
    padding: 8px 16px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    user-select: none;
  }

  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }

  .select-items div:hover, .same-as-selected {
    background-color: #00E47C;
  }
}