.bi-input {
    margin-bottom: 16px;

    label {
        margin-bottom: 5px;
        font-family: 'Boehringer Forward Text Md';
        color: #000;
        font-size: 15px;

        sup {
            position: relative;
            top: 0;
            right: 0;
        }
    }

    input,
    select {
        width: 100%;
        border: 1px solid #cccccc;
        padding: 5px 10px;

        &:focus {
            border: 1px solid #022D25;
        }
    }

    input {
        &::placeholder {
            font-size: 13px;
        }
    }


}


@include mobile {
    .bi-input {
        width: 100%;
    }
}