.boehringer {
   .fiter-head {
      font-family: 'Boehringer Forward Head Md';
      font-weight: normal;
      color: #08312A;
      font-size: 21px;
      margin: 12px 0px;
      text-transform: unset;
   }
   .product-details-page h3 {
      color: #000;
      margin-top: 15px;
      font-size: 20px;
  }
  .bi-pdtspecwrap {
   margin: 20px 0;
  }
  .bi-pdtspec {
   display: inline-block;
    border: 2px solid #08312A;
    color: #000;
    font-size: 9px;
    border-radius: 20px;
    padding: 4px 10px;
    margin-right: 6px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 6px;
  }
  .ListingCol {
   max-width: 33.33% !important;
  }
  .container.bi-bgclr {
   background-color: #F6F5F3 !important;
   }
   .book-name-and-buy ul li {
      font-family: "Boehringer Forward Text" !important;
      font-weight: normal;
   }
   .list-show .product-box {
      border: 1px solid #F6F5F3;
      width: 80% !important;
      &:hover {
         .list-show .hover .product-name {
                color: #1155CC;
        }
      }
   }
   .bi-odrouter {
      padding-bottom: 20px;
      min-height: auto;
      background-color: #f6f5f3;
      font-family: 'Boehringer Forward Text' !important;
      .inner-marging {
         background-color: #f6f5f3 !important;
      }
      span {
         color: #191919;
         font-size: 16px;
         margin-right: 4px;
      }
      select {
         border: 1px solid #aaa;
         border-radius: 3px;
         padding: 2px;
         background-color: transparent;
      }
   }
   .bi-odrtitle {
      font-family: 'Boehringer Forward Head Md';
      font-size: 35px;
      color: #191919;
      margin-bottom: 10px;
      span {
         font-size: 35px !important;
         font-weight: 500 !important;
      }
   }
   .bi-footer__arr p {
      font-size: 12px;
   }
   .plp-price p {
      font-family: 'Boehringer Forward Head Md';
      font-size: 13px;
      color: #08312A;
   }
   .pricing {
      font-size: 14px;
   }
   .cx-upnot {
      display: inline-block;
      font-size: 16px;
      color: #FF0000;
      width: 50%;
    }
    .cx-copdt__outer {
      scrollbar-color: #08312A #e4e7e7;
    }
    .boldblu {
      span:nth-child(2) {
         margin-left: -3px;
      }
    }

    @include mobile {
      .ListingCol {
         max-width: 100% !important;
         justify-content: center !important;
        }

      .container.bi-bgclr {
         .col-lg-9.col-sm-12 {
               padding: 0px;
         }
      }

      .fiter-head {
         font-size: 18px;
      }
      .menu-icon {
         display: block;
         top: 50%;
       }
       .sec-menu {
         display: none;
       }
    }
}