.boehringer {
    // PLP page filter section

    @include tablet {
        .bi-plp {
            #filter-expand-mbl {
                top: 10px;
            }

            .margin-lr-cut {
                padding-top: 0;
            }

            .left-box.filter-mbl {
                width: 250px;
                padding-right: 25px;
            }

            .bi-bgclr {
                .top-row {
                    flex-direction: column;
                }
            }
        }
    }


    @include mobile {
        .bi-plp {
            .bi-bgclr {
                .left-box.filter-mbl {
                    width: 260px;
                    padding-right: 30px;
        
                    .dxeTBContentContainerSys {
                        right: -10px;
                    }
                }
            }
    
            .fa {
                padding-left: 4px;
            }
        }
    }
}